.btn-flat {
  color: var(--color-white);
  padding: 8px 24px;
  background-color: var(--color-first);
  transition: var(--animate);
  border-radius: var(--border-radius);
}

.btn-flat:hover {
  background-color: var(--color-third);
  color: var(--color-white);
}
